<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3d4c8ee6-d5c3-4604-881d-eb1a3def81ee/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/MeliTest20221004153511</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://melitest20221004153511.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>176ae030-9dfd-49c4-9d3d-0f60fd7ca65d</ProjectGuid>
    <PublishUrl>https://melitest20221004153511.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MeliTest20221004153511</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>